*~

genomes/filter.sh
genomes/*/

RM/*/*/
RM/run.sh
RM/combine.sh

busco/tmp_*
busco/*/blast_output
busco/*/hmmer_output
busco/*/translated_proteins
busco/*/augustus_output
busco/*/single_copy_busco_sequences
busco/run.sh

genemark/run.sh
genemark/*/*
!genemark/*/output/
genemark/*/output/*
!genemark/*/output/gmhmm.mod

snap/train.sh
snap/tmp_*

maker.1/run.sh
maker.1/setup.sh
