*~

genomes/filter.sh
genomes/*/

RM/*/*/
RM/run.sh
RM/combine.sh

busco/tmp_*
busco/*/blast_output
busco/*/hmmer_output
busco/*/translated_proteins
busco/*/augustus_output
busco/*/single_copy_busco_sequences
busco/run.sh

genemark/run.sh
genemark/*/*
!genemark/*/output/
genemark/*/output/*
!genemark/*/output/gmhmm.mod

snap/train.sh
snap/tmp_*

maker.1/run.sh
maker.1/setup.sh
maker.1/merge.sh
maker.1/*/*.maker.output/
maker.1/*/*.log
maker.1/*/master_datastore_index.log
maker.1/*/genome.ann
maker.1/*/genome.dna

augustus/bin
augustus/config/
augustus/include
augustus/scripts/
augustus/setup.sh
augustus/src
augustus/train.sh
augustus/*/autoAug
!augustus/*.tar.gz
!augustus/autoAug.patch
